<!DOCTYPE html>
<html lang="pt"
	xmlns = "http://www.w3.org/1999/xhtml"
    xmlns:th = "http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'layout/LayoutPadrao'">
<head>
	<title>Cadastro de Usuário</title>
</head>
<body>

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de Usuário</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		
		<form method = "POST" th:object = "${usuario}" class="form-vertical  js-form-loading">
			<div class="row">	
				<div class="col-sm-8  form-group">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control"/>
				</div>
				
				<div class="col-sm-4  form-group">
					<label for="dataNascimento">Data de Nascimento</label>
					<input id="dataNascimento" type="text" class="form-control"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4  form-group">
					<label for="email">Email</label>
					<input id="email" type="text" class="form-control"/>
				</div>
				
				<div class="col-lg-3  col-sm-12  form-group">
					<label for="permissao">Permissão</label>
					<div>
						<div class="checkbox  checkbox-inline">
							<input name="permissao" type="checkbox" class="form-control"/>
							<label for="permissao">Administrador</label>
						</div>
						<div class="checkbox  checkbox-inline">
							<input name="permissao" type="checkbox" class="form-control"/>
							<label for="permissao">Vendedor</label>
						</div>
					</div>
					
				</div>
			
				<div class="col-lg-3  col-sm-12  form-group">
					<label for="status">Status</label>
					<div>
						<div class="checkbox  checkbox-inline">
							<input name="status" type="checkbox" class="form-control"/>
							<label for="status">Ativo</label>
						</div>
					</div>
				</div>		
			</div>
			
			<div class="row">
				<div class="col-lg-2  col-md-4  col-sm-8  form-group">
					<label for="senha">Senha</label>
					<input id="senha" type="text" class="form-control"/>
				</div>
				<div class="col-lg-2  col-md-4  col-sm-8  form-group">
					<label for="confirmacaoSenha">Confirmação de Senha</label>
					<input id="confirmacaoSenha" type="text" class="form-control"/>
				</div>		
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
			
		</form>
		
	</div>
	
</section>

</body>

</html>